  <title>Welcome to FastAPI and Angular</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./main.component.css">
  <div class="">
    <header class="bg-blue-500 text-white text-center">
      <img class="logo" src="./fastapi-icon-512x512-a7ggfxfw.png" alt=""> 
      <h1>Python FastAPI and Angular JS </h1>
      <img src="" alt="">
    </header>
    <div class="container">
      <h2>FastAPI</h2>
      <p>
        FastAPI is a modern, fast (high-performance),
         web framework for building APIs with Python 3.7+ 
          based on standard Python type hints.
      </p>
      <p>
        With FastAPI, you can quickly build and deploy web APIs with
         robust features and high performance.
      </p><br><br><hr>
      <h2>Angular</h2>
      <p>AngularJS is a structural framework for dynamic web apps.
         It lets you use HTML as your template language and lets you extend HTML's 
         syntax to express your application's components clearly and succinctly. 
         AngularJS's data binding and dependency injection eliminate much
         of the code you would otherwise have to write.</p>
      <a href="https://angular.io/" target="_blank" class="button">Learn More</a>
    </div>
  </div>

