<div class="p-4 bg-opacity-90">
  <h2 class="text-xl font-serif">
    Add {{ editMode ? "update" : "new" }} Location
  </h2>
  <form [formGroup]="geoForm" (ngSubmit)="submitForm(geoForm)">
    <div class="mb-4">
      <label for="id" class="block font-sans">ID</label>
      <input
      type="number"
      id="id"
      name="id"
      class="border rounded p-2 w-full"
      formControlName="id"
      placeholder="Id"
      />
      <div
      *ngIf="
        geoForm.get('id').errors?.required &&
        geoForm.get('id').touched
      "
      class="text-red-600"
    >
      ID is required.
    </div>
    </div>
    <div class="mb-4">
      <label for="latitude" class="block font-sans">Latitude</label>
      <input
        type="number"
        id="latitude"
        name="latitude"
        class="border rounded p-2 w-full"
        formControlName="latitude"
        placeholder="Latitude"
      />
      <div
      *ngIf="
        geoForm.get('latitude').errors?.required &&
        geoForm.get('latitude').touched
      "
      class="text-red-600"
    >
      Latitude is required.
    </div>
    </div>
    <div class="mb-4">
      <label for="longitude" class="block font-sans">Longitude</label>
      <input
        type="number"
        id="longitude"
        name="longitude"
        class="border rounded p-2 w-full"
        formControlName="longitude"
        placeholder="Longitude"
      />
      <div
      *ngIf="
        geoForm.get('longitude').errors?.required &&
        geoForm.get('longitude').touched
      "
      class="text-red-600"
    >
      Longitude is required.
    </div>
    </div>
    <div class="flex justify-center">
      <button
        type="button"
        class="mr-2 bg-gray-200 px-4 py-2 rounded"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
      [disabled]="!geoForm.valid"
      type="submit"
      [ngClass]="{ 'disabled-button': !geoForm.valid }"
      class="bg-blue-500 text-white px-4 py-2 rounded"
      >
        {{ editMode ? "Update" : "Submit" }}
      </button>
    </div>
  </form>
</div>
