<form
  [formGroup]="newWildLifeForm"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  (ngSubmit)="onSave()"
>
    <label class="block text-gray-700 text-sm font-bold mb-2" for="species">
      Species
    </label>
    <input
      type="text"
      formControlName="species"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="species"
      placeholder="Enter Species Name"
    />

    <div
      *ngIf="
        newWildLifeForm.get('species')?.invalid &&
        (newWildLifeForm.get('species')?.dirty ||
          newWildLifeForm.get('species')?.touched)
      "
      class="alert"
    >
      <div
        *ngIf="newWildLifeForm.get('species')?.errors?.['required']"
        [ngStyle]="{ color: 'red' }"
      >
        Species Name is Required
      </div>
      <div
        *ngIf="newWildLifeForm.get('species')?.errors?.['minlength']"
        [ngStyle]="{ color: 'red' }"
      >
        Name Must be at least 4 characters long
      </div>
      <div
        [hidden]="!newWildLifeForm.get('species')?.hasError('pattern')"
        [ngStyle]="{ color: 'red' }"
      >
        Only alphabets allowed
      </div>
    </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="location">
      Location
    </label>
    <input
      type="text"
      formControlName="location"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="location"
      placeholder="Enter Location"
    />
    <div
      *ngIf="
        newWildLifeForm.get('location')?.invalid &&
        (newWildLifeForm.get('location')?.dirty ||
          newWildLifeForm.get('location')?.touched)
      "
      class="alert"
    >
      <div
        *ngIf="newWildLifeForm.get('location')?.errors?.['required']"
        [ngStyle]="{ color: 'red' }"
      >
        Location Name is Required
      </div>
      <div
        *ngIf="newWildLifeForm.get('location')?.errors?.['minlength']"
        [ngStyle]="{ color: 'red' }"
      >
        Location Must be at least 4 characters long
      </div>
      <div
        [hidden]="!newWildLifeForm.get('location')?.hasError('pattern')"
        [ngStyle]="{ color: 'red' }"
      >
        Only alphabets allowed
      </div>
    </div>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="Date">
      Date
    </label>
    <input
      type="date"
      formControlName="date"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Enter Date"
      [min]="getTodayDate()"
    />
    <div
      *ngIf="
        newWildLifeForm.get('date')?.invalid &&
        (newWildLifeForm.get('date')?.dirty ||
          newWildLifeForm.get('date')?.touched)
      "
      class="alert"
      [ngStyle]="{ border: '1px solid red' }"
    >
      <div
        *ngIf="newWildLifeForm.get('date')?.errors?.required"
        [ngStyle]="{ color: 'red' }"
      >
        Date is required
      </div>
      <div *ngIf="newWildLifeForm.get('date')?.error?.min">
        Date must be from today onwards.
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-black font-semibold px-4 py-2 rounded"
      [disabled]="!newWildLifeForm.valid"
    >
      {{ data.editMode ? "Save Changes" : "Add Entry" }}
    </button>

    <button
      class="bg-orange-400 hover:bg-blue-700 text-white font-bold py-2 px-4 m-5 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</form>
