<div class="add-button-container">
  <button class="add-button" (click)="openAddCourse()">
    <mat-icon></mat-icon>
    Add Course
  </button>
</div>
<div class="table-wrapper">
<table #coursesTable mat-table  [dataSource]="course" class="mat-elevation-z8  mat-table--compact my-table ml-8 mr-">

  <ng-container matColumnDef="course_id">
    <th mat-header-cell *matHeaderCellDef style="width: 110px;"> CourseID </th>
    <td mat-cell *matCellDef="let courses" style="width: 100px;"> {{courses.course_id}} </td>
  </ng-container>


  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef style="width: 180px;"> Title </th>
    <td mat-cell *matCellDef="let courses" style="width: 180px;"> {{courses.title}} </td>
  </ng-container>


  <ng-container matColumnDef="instructor">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Instructor </th>
    <td mat-cell *matCellDef="let courses" style="width: 120px;"> {{courses.instructor}} </td>
  </ng-container>

  
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef style="width: 220px;"> Description </th>
    <td mat-cell *matCellDef="let courses" style="width: 220px;"> {{courses.description}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Price </th>
    <td mat-cell *matCellDef="let courses" style="width: 100px;"> {{courses.price}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Duration </th>
    <td mat-cell *matCellDef="let courses" style="width: 120px;"> {{courses.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="prerequisites">
    <th mat-header-cell *matHeaderCellDef style="width: 140px;"> Prerequisites </th>
    <td mat-cell *matCellDef="let courses" style="width: 140px;"> {{courses.prerequisites}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let courses">
      <button  class="edit-button" (click)="updateExistingCourse(courses.course_id)">
        <mat-icon>edit</mat-icon>
      </button>
      
      <button class="delete-button"(click)="deleteCourse(courses.course_id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

