<div class="flex flex-col mt-1 ml-56">
  <div class="relative">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded absolute top-0 right-0 mt-2 mr-10"
      (click)="addGeoLocation()">
      Add Location
    </button>
  </div>
  <h2 class="text-xl font-serif text-center mb-4">- Api Data for Geolocation -</h2>

  <div  class="table-container border rounded overflow-x-auto ml-10 pl-10">
    <table
    #geotable
      mat-table
      [dataSource]="locations"
      class="w-full min-w-max text-sm text-left text-gray-500 dark:text-gray-400"
    >
      <ng-container matColumnDef="id" class="head">
        <th mat-header-cell *matHeaderCellDef class="head">Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef class="head">Latitude</th>
        <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef class="head">Longitude</th>
        <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef id="action" class="head">Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            id="action-button"
            color="warn"
            (click)="deleteGeoLocation(element.id)"
            class="btn"
          >
            <mat-icon>Delete</mat-icon>
          </button>
          <button
            mat-icon-button
            variant="contained"
            color="primary"
            (click)="updateGeoLocation(element.id)"
            class="btn2"
          >
            <mat-icon>Edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br />
  </div>
</div>

<app-error-toast *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-toast>