<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl pt-5"
      >
        <form
          [formGroup]="flightForm"
          class="bg-white rounded px-8 pt-6 pb-8 mb-5"
        >
          <div class="flex w-full">
            <div class="mb-5 w-1/2 mr-5">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="flight_number"
              >
                Flight Number
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="flight_number"
                type="text"
                formControlName="flight_number"
                placeholder="Flight Number"
                required
              />
              <div
                *ngIf="flight_number.invalid && flight_number.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="flight_number.errors?.['required']">
                  Flight Number is required.
                </div>
                <div *ngIf="flight_number.errors?.['minlength']">
                  Flight Number must be at least 4 characters long.
                </div>
                <div *ngIf="flight_number.errors?.['maxlength']">
                  Flight Number must not be at 15 characters long.
                </div>
              </div>
            </div>

            <div class="mb-5 w-1/2">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="airline"
              >
                Airline Name
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="airline"
                type="text"
                formControlName="airline"
                placeholder="Airline Name"
              />
              <div
                *ngIf="airline.invalid && airline.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="airline.errors?.['required']">
                  Airline name is required.
                </div>
                <div *ngIf="airline.errors?.['minlength']">
                  Airline name must be at least 4 characters long.
                </div>
                <div *ngIf="airline.errors?.['maxlength']">
                  Airline must not be at 25 characters long.
                </div>
              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="mb-5 w-1/2 mr-5">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="origin"
              >
                Origin
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="origin"
                type="text"
                formControlName="origin"
                placeholder="Origin"
              />
              <div
                *ngIf="origin.invalid && origin.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="origin.errors?.['required']">
                  Flight Origin is required.
                </div>
                <div *ngIf="origin.errors?.['minlength']">
                  Flight Origin must be at least 4 characters long.
                </div>
                <div *ngIf="origin.errors?.['maxlength']">
                  Origin must not be at 25 characters long.
                </div>
              </div>
            </div>

            <div class="mb-5 w-1/2">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="destination"
              >
                Destination
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="destination"
                type="text"
                formControlName="destination"
                placeholder="Destination"
              />
              <div
                *ngIf="destination.invalid && destination.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="destination.errors?.['required']">
                  Destination is required.
                </div>
                <div *ngIf="destination.errors?.['minlength']">
                  Destination must be at least 4 characters long.
                </div>
                <div *ngIf="destination.errors?.['maxlength']">
                  Destination must not be at 25 characters long.
                </div>
              </div>
            </div>
          </div>

          <div class="flex w-full">
            <div class="mb-5 w-1/2 mr-5">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="departure"
              >
                Departure Time
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="departure"
                type="datetime-local"
                formControlName="departure_time"
                placeholder="Departure TIme"
              />
              <div
                *ngIf="departure_time.invalid && departure_time.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="departure_time.errors?.['required']">
                  Departure Time is required.
                </div>
                <div *ngIf="departure_time.errors?.['minlength']">
                  Departure Time must be at least 4 characters long.
                </div>
              </div>
            </div>
            <div class="mb-5 w-1/2">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="arrival"
              >
                Arrival Time
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="arrival"
                type="datetime-local"
                formControlName="arrival_time"
                placeholder="Arrival Time"
              />
              <div
                *ngIf="arrival_time.invalid && arrival_time.touched"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              >
                <div *ngIf="arrival_time.errors?.['required']">
                  Arrival Time is required.
                </div>
                <div *ngIf="arrival_time.errors?.['minlength']">
                  Arrival Time must be at least 4 characters long.
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-between mt-4">
            <button
              class="bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-60 disabled:hover:bg-blue-500"
              type="submit"
              (click)="addFlight()"
              *ngIf="!flight; else update"
              [disabled]="flightForm.invalid"
            >
              Submit
            </button>
            <button
              type="button"
              class="bg-red-500 hover:bg-red-600 active:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              (click)="closeDailog()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #update>
  <button
    class="bg-green-500 hover:bg-green-600 active:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:opacity-60 disabled:hover:bg-green-500"
    type="submit"
    (click)="updateFlight(flightForm.value)"
    [disabled]="flightForm.invalid"
  >
    Update
  </button>
</ng-template>
