<div class="flex flex-col mt-1 ml-56">
  <div class="relative">
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded absolute top-0 right-0 mt-2 mr-10" (click)="openAddRecordForm()">
      Add Project
    </button>
  </div>
  <h2 class="text-xl font-serif text-center mb-4">- Api Data for Projects -</h2>

  <div class="table-container border rounded overflow-x-auto ml-10 pl-10">
    <table #projectTable mat-table [dataSource]="proj" class="w-full min-w-max text-sm text-left text-gray-500 dark:text-gray-400">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 border-b">ID</th>
        <td mat-cell *matCellDef="let i" class="px-6 py-4 border-b">{{ i.id }}</td>
      </ng-container>

      <!-- Project Name Column -->
      <ng-container matColumnDef="project_name">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 border-b">PROJECT NAME</th>
        <td mat-cell *matCellDef="let i" class="px-6 py-4 border-b">{{ i.project_name }}</td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 border-b">COMPANY</th>
        <td mat-cell *matCellDef="let i" class="px-6 py-4 border-b">{{ i.company }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 border-b">
          <button>DELETE</button>
        </th>
        <td mat-cell *matCellDef="let i" class="px-6 py-4 border-b">
          <button class="flex items-center hover:text-red-500" (click)="deleteProject(i.id)">
            Delete &nbsp;&nbsp;
            <i class="bi bi-trash"></i> &nbsp;&nbsp;&nbsp;
          </button>
        </td>
      </ng-container>

      <!-- Update Actions Column -->
      <ng-container matColumnDef="updateActions">
        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 border-b">
          <button>UPDATE</button>
        </th>
        <td mat-cell *matCellDef="let i" class="px-6 py-4 border-b">
          <button class="flex items-center hover:text-blue-500" (click)="updateExistingProject(i.id)">
            Update&nbsp;&nbsp;
            <i class="bi bi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </td>
      </ng-container>

      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Data Rows -->
      <tr mat-row *matRowDef="let i; columns: displayedColumns;"></tr>
    </table>
    <br>
  </div>
</div>


<app-error-toast *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-toast>
  