<div class="flex">
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-1 w-[280px] overflow-y-auto text-center bg-gray-900">
      <div class="text-gray-100 text-m">
        <div class="p-2 mt-3 flex items-start mb-0">
          <i class="bi bi-app-indicator px-2 py-1 rounded-md bg-blue-600 mr-3"></i>
          <h1 class="font-sans text-gray-180 text-[15px] ml-3 m-2">PseudoPoint</h1>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
      </div>
  
      <div class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white">
        <i class="bi bi-search text-sm"></i>
        <input type="text" placeholder="Search" class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" />
      </div>
  
      <details class="p-2.5 mt-3">
        <summary class="flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
          <i class="bi bi-journal-text"></i>
          <div class="flex justify-between w-full items-center">
            <span class="text-[15px] ml-4 text-gray-200 font-sans uppercase">Api content</span>
            <span class="text-sm"><i class="bi bi-chevron-down"></i></span>
          </div>
        </summary>
  
        <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold">
          <details class="p-2.5 mt-3">
            <summary class="flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
              <i class="bi bi-cash-stack"></i>
              <div class="flex justify-between w-full items-center">
                <a routerLink="/billing" class="button-link">
                  <span class="text-[15px] ml-4 text-gray-50 font-sans">Billing</span>
                </a>
              </div>
            </summary>
          </details>
  
          <details class="p-2.5 mt-3">
            <summary class="flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
              <i class="bi bi-heart"></i>
              <div class="flex justify-between w-full items-center">
                <a routerLink="/health" class="button-link">
                  <span class="text-[15px] ml-4 text-gray-50 font-sans">Health</span>
                </a>
              </div>
            </summary>
          </details>
  
          <details class="p-2.5 mt-3">
            <summary class="flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
              <i class="bi bi-geo"></i>
              <div class="flex justify-between w-full items-center">
                <a routerLink="/geolocation" class="button-link">
                  <span class="text-[15px] ml-4 text-gray-50 font-sans">GeoLocation</span>
                </a>
              </div>
            </summary>
          </details>
  
          <details class="p-2.5 mt-3">
            <summary class="flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
              <i class="bi bi-collection"></i>
              <div class="flex justify-between w-full items-center">
                <a routerLink="/project" class="button-link">
                  <span class="text-[15px] ml-4 text-gray-50 font-sans">Projects</span>
                </a>
              </div>
            </summary>
          </details>
        </div>
  
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
          <i class="bi bi-box-arrow-in-right"></i>
          <a href="/"><span class="text-[15px] ml-4 text-gray-200 font-serif">Logout</span></a>
        </div>
      </details>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  