<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <button
      class="bg-blue-500 hover:bg-blue-800 text-white py-3 px-5 rounded-md ml-12 mb-3"
      (click)="openDialog()"
    >
      + Add New Cricketers
    </button>

    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <app-cricketersforms
          *ngIf="true"
          (addNewCricks)="On_Add_Cricketers_Details($event)"
          (updateCricks)="On_Update_Cricketers_Details($event)"
        ></app-cricketersforms>

        <mat-table class="mat-elevation-z8" #CricketersTable [dataSource]="Crick">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let crick">{{ crick.id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let crick">{{ crick.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
            <mat-cell *matCellDef="let crick">{{ crick.age }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nation">
            <mat-header-cell *matHeaderCellDef>Nationality</mat-header-cell>
            <mat-cell *matCellDef="let crick">{{ crick.nation }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let crick">
              <button
                mat-raised-button
                color="primary"
                (click)="editCricks(crick)"
              >
                Edit
              </button>
              <span class="button-space"></span>
              <button
                mat-raised-button
                color="warn"
                (click)="delete_cricketers_details(crick.id)"
              >
                Delete
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
<app-error-toast
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
></app-error-toast>

<app-delete-confirm
  *ngIf="showDeleteConfirmationModal"
  (confirmDelete)="delete_Cricketer_Confirmation()"
  (cancelDelete)="closeDeleteConfirmationModal()"
></app-delete-confirm>

<!-- Rest of the template -->
